openapi: 3.1.0
info:
  version: 1.0.0
  title: therssproject v1 REST API
  description: therssproject's v1 REST API
  contact:
    name: Support
    url: https://therssproject.com
servers:
- url: https://api.therssproject.com
externalDocs:
  description: therssproject's v1 REST API
  url: https://www.therssproject.com/documentation
paths:
  "/feeds":
    get:
      summary: Get a parsed feed based on the given URL
      description: Get a parsed feed based on the given URL
      operationId: application/get-feeds
      parameters:
        - name: url
          in: query
          description: The URL of the feed to parse
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Feed"
              # examples:
              #   default:
              #     "$ref": "#/components/examples/feed"

components:
  schemas:
    # Feed schema
    Feed:
      type: object
      required:
        - feed_type
        - entries
      properties:
        feed_type:
          type: string
          enum: [atom, json, rss0, rss1, rss2]
        title:
          type: string
        description:
          type: string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Entry'

    # Entry schema
    Entry:
      type: object
      properties:
        url:
          type: string
        title:
          type: string
        description:
          type: string
        published_at:
          type: date
